<!--Body of message-->
    <row>
    	<columns small="12" large="12">
    	<h2 class="center">In this issue</h2>
    	</columns>
    </row>
    <row>
        <columns small="12" large="6">
            <img src="{{path}}/assets/img/6-col-01@2.jpg" />
            	&nbsp;
						<p>Why can an octopus not only instantly change colour and texture, but imitate the shape, and behaviour of multiple species of fish, snake, stingray and jellyfish?</p>
        </columns>
        <columns small="12" large="6">
            <img src="{{path}}/assets/img/6-col-02@2.jpg" />
	            &nbsp;
							<p>Just when you thought you’ve heard it all, find out yet another explosive discovery about God’s design in the amazing gecko.</p>
	            		
        </columns>
    </row>
    
    <row>
        <columns small="12" large="6">
            <img src="{{path}}/assets/img/6-col-03@2.jpg" />
	            &nbsp;
							<p>Did you know that the sawfish’s long snout with its tooth-like features actually contains electrical and mechanical sensors that detect slight movements in their prey?</p>
	            		
        </columns>
        <columns small="12" large="6">
            <img src="{{path}}/assets/img/6-col-04@2.jpg" />
	            &nbsp;
							<p>See how new discoveries about the recently-demoted wobbly planet Pluto actually support a biblical young age for the universe.</p>
	            		
        </columns>
    </row>
        
    <row>
        <columns small="12" large="6">
            <img src="{{path}}/assets/img/6-col-05@2.jpg" />
	            &nbsp;
							<p>Skeptics often chide Christians by claiming the Bible was written by mere men. Equip yourself with a defence against this claim that God’s Word is fallible.</p>
	            		
        </columns>
        <columns small="12" large="6">
            <img src="{{path}}/assets/img/6-col-06@2.jpg" />
	            &nbsp;
							<p>Our ‘Creation for Kids’ section tackles the question “Is there life on other planets?”</p>
	            		
        </columns>
    </row>
    <row>
    	<columns small="12" large="12">
			<h2 class="center">And much more!</h2>
		</columns>
    </row>
    
<!--/Body of message-->