<row class="center">
    <columns small="12" large="12">
        <hr>
        <p>You can freely print out or forward these INFObytes or articles from our website to your friends, colleagues, family and even your local media. If you have had this passed on to you and wish to receive CMI INFObytes directly, subscribe <a href="http://creation.com/enews" target="_blank">here</a>. If you need to change your email address or other information, or to unsubscribe, please <a href="http://creation.com/infobytes-profile?cmd=profile&hash={{{tracking_hash}}}" target="_blank">update your profile</a>.</p>
        <p><strong>PLEASE DO NOT REPLY TO THIS EMAIL.</strong> <br />It is only used to send CMI <em>INFObytes</em>.</small>
        <p><em><strong>Creation Ministries International</strong></em>—<span class="countryAddress">{{> address}}</span></p>
        <!--<a href="http://creation.com/worldwide-contact-information" target="_blank">Worldwide Contact Information</a>-->
        <row>
	        <columns small="12" large="12">
	        &nbsp;
	        </columns>
        </row>
        <row>
	        <columns small="3" large="3">
	        </columns>
	        <columns small="6" large="6">
	        <row>
	        	<columns small="3" large="3">
	        		<a href="http://creation.com/media-center" target="_blank"><img src="{{path}}/assets/img/media@2.png" /></a>
	        	</columns>
	        	<columns small="3" large="3">
	        		<a href="http://creation.com/infobytes-send-to-a-friend?hardcopy=http://infobytes.creation.com/infobytes/Infobytes_publish/_creationmag/{{issue}}/dist/{{page}}.html" target="_blank"><img src="{{path}}/assets/img/email@2.png" /></a>
	        	</columns>
	        	<columns small="3" large="3">
	        		<a href="http://facebook.com/creationministries" target="_blank"><img src="{{path}}/assets/img/facebook@2.png" /></a>
	        	</columns>
	        	<columns small="3" large="3">
	        		<a href="http://twitter.com/creationnews" target="_blank"><img src="{{path}}/assets/img/twitter@2.png" /></a>
	        	</columns>
	        </columns>
	        <columns small="3" large="3">
	        </columns>
        </row>
        <p style="text-align:center;"><a href="http://creation.com/about-us" target="_blank">About Us</a> | <a href="http://creation.com/" target="_blank">CMI Home</a> | <a href="http://creation.com/about-us#what_we_believe" target="_blank">What We Believe</a><br />View our Privacy Policy <a href="http://creation.com/privacy" target="_blank">here</a>.<br />© 2016 <em>Creation Ministries International</em></p>
    </columns>
</row>
