<row class="collapse">
        <columns small="12" large="12">
            <img src="{{path}}/assets/img/IB_Header@2.png" />
            <img src="{{path}}/assets/img/IB-Hero-Image@2.jpg" />
        </columns>
    </row>
  <row>
    <columns small="12" large="12">
        <p class="lead">Creation Magazine is CMI’s number one equipping resource</p>
        <p>For over 35 years, Creation magazine has been the premier source for up-to-date ideas, news, research and a biblical perspective on the subject of the origin of life, the universe, and the complexity of God’s awesome creation.</p>
    </columns>
  </row>
    <row class="collapse">
        <columns small="12" large="12">
        <img src="{{path}}/assets/img/12-col-digital@2.jpg" />
        </columns>
    </row>
    <row>
    	<columns small="12" large="12">
    	<p>For just a little bit more, get the regular print edition plus the digital version. The magazine can be accessed on up to 5 devices so your children and grandchildren can have their own copy!</p>
    	</columns>
    </row>
