{{#ifpage 'CA'}}
<!--Subscribe-->
    <row class="collapse">
        <columns small="12" large="12">
        <img src="{{path}}/assets/img/12-col-subscribe@2.jpg" />
        </columns>
    </row>
    <row>
    	<columns small="12" large="12">
    	<p>Make an impact on your family, friends, co-workers and all those who could benefit from the good news.</p>
    	</columns>
    </row>
    <row class="collapse">
        <columns small="12" large="12">
        <a href="https://creation.com/subscribe" target="_blank"><img src="{{path}}/assets/img/12-col-subscribebutton@2.jpg" /></a>
        </columns>
    </row>

<!--/Subscribe-->
{{/ifpage}}

{{#ifpage 'index' 'AU' 'SG' 'US' 'NZ' 'UK' 'SA'}}
<!--Subscribe-->
    <row class="collapse">
        <columns small="12" large="12">
        <img src="{{path}}/assets/img/12-col-subscribe@2.jpg" />
        </columns>
    </row>
    <row>
    	<columns small="12" large="12">
    	<p>Make an impact on your family, friends, co-workers and all those who could benefit from the good news.</p>
    	</columns>
    </row>
    <row>
        <columns small="12" large="6">
            <img src="{{path}}/assets/img/6-col-price_{{page}}-01@2.jpg" />
        </columns>
        <columns small="12" large="6">
            <img src="{{path}}/assets/img/6-col-price_{{page}}-02@2.jpg" />
        </columns>
    </row>

    <row>
    	<columns small="12" large="12">
    		<p><strong>Subscribers:</strong> This is NOT a renewal notice.
That will come through the mail as usual.</p>
    	</columns>
    </row>

    <row class="collapse">
        <columns small="12" large="12">
        <a href="http://creation.com/store_redirect.php?cPath=24_37" target="_blank"><img src="{{path}}/assets/img/12-col-subscribebutton@2.jpg" /></a>
        </columns>
    </row>

<!--/Subscribe-->
{{/ifpage}}
